.intro {
    text-align: right;
}

#container {
    margin: 20px;
    width: 400px;
    height: 8px;
    position: relative;
  }



  .jumbotron {
   margin-right: 200px;
   margin-top: 200px;
    }


    .intro {
        background-image: url(homepage.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: #687a61;
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        text-align: right;
    }