#container {
    margin: 20px;
    width: 400px;
    height: 8px;
    position: relative;
  }

  .signup {
    margin-top: 100px;
}
  .sign {
        background-image: url(signup.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        text-align: right;
    }