#brand{
  font-size: 50px;
  color: white;
  text-shadow: 2px 2px 4px #acacac;
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}

.navbar{
  background-color: #c0e1e1;
  color: white;
}